.rating {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: space-between;
}

.star {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 775px) {
    .rating {
        width: 98px;
        height: 18px;
    }

    .star {
        width: 15px;
        height: 15px;
    }
}